@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#f4f3e7];
  }
}

.footer-logo-area:before {
  left: 0;
}

.footer-logo-area:after {
  right: 0;
}
.footer-logo-area:before,
.footer-logo-area:after {
  position: absolute;
  top: 0;
  width: 40%;
  height: 1px;
  background: #e5bcbc;
  content: "";
  bottom: 0;
  margin: auto;
}

.scroll-to-top {
  border-radius: 50% !important;
  padding: 0.7rem !important;
  width: 45px !important;
  height: 45px !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
  z-index: 9999 !important;
  right:15px!important;
  bottom:70px!important;
}
